.navbar {
        background-color: #101a39;
        text-align: left;
    }

    .navbar-brand {
        color: #ff3cac;
        font-weight: bold;
    }

    h3 {
        color: #ff3cac;
        text-shadow: 0 0 10px #ff3cac;
    }

    body {
        background: #14204b;
        font-family: Arial, sans-serif;
    }

    td {
        height: 130px;
        vertical-align: top;
    }

    strong {
        color: #ff3cac;
        text-shadow: 0 0 10px #ff3cac;
    }


    #heroCarousel {
  background: #000;
}

.carousel-inner,
.carousel-item {
  height: 90vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}


    .scroll-wrapper {
      display: flex;
      overflow-x: auto;
      gap: 15px;
      padding-bottom: 10px;
      scroll-behavior: smooth;
    }
    .scroll-wrapper::-webkit-scrollbar {
      height: 10px;
    }
    .scroll-wrapper::-webkit-scrollbar-thumb {
      background: #ff3cac;
      border-radius: 10px;
    }
    .event-card {
      flex: 0 0 auto;
      width: 180px;
      height: 320px;
      background: #121a36;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      transition: 0.3s;
      cursor: pointer;
    }
    .event-card:hover {
      transform: scale(1.01);
      box-shadow: 0 0 20px rgb(245, 0, 139);
    }
    .event-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .event-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.6);
      text-align: center;
      padding: 8px;
      font-size: 0.9rem;
    }

    .btn-custom {
      background-color: #ff3cac;
      color: white;
    }
    .btn-custom:hover {
      background-color: #0084ff;
    }

    .navbar-brand {
      text-shadow: #0099ff 0px 0px 5px;
    }

  /* ================= FOOTER ================= */
.footer-dashboard {
  background: linear-gradient(180deg, #0b1f3a, #102c54);
  color: #fff;
}

.footer-dashboard a {
  text-decoration: none;
  color: #f8f9fa;
}

.footer-dashboard a:hover {
  color: #ffc107;
}

.footer-links a {
  font-size: 14px;
  color: #ddd;
}
